---
layout: default
page_class: home
full_title: "Rails Girls NL"
---

<section class="section text-center section-intro">
  <%= partial "header" %>

  <div class="section-intro-content">
    <h2>
      29th of May, 2024<br>
      Amsterdam
    </h2>

    <p class="large-text">A <em>free</em>, one day workshop. Discover the exciting world of web development through Ruby on Rails! With the help and guidance of our coaches, you can create a real web application in a fun and relaxed environment.</p>

    <p><%= link_to "Join us!", site.metadata.participant_sign_up_form_url, :class => "button sign-up-button" %></p>
    <p>If you can't attend this time, you can <%= link_to "sign up to be notified about future events", site.metadata.future_events_sign_up_form_url %>.</p>
    <p>Want to help out as a coach? <%= link_to "Sign up using the coach form!", site.metadata.coach_sign_up_form_url %></p>
  </div>
</section>

<section class="section schedule" id="schedule">
  <h2>Workshop program</h2>

  <table id="schedule">
    <tbody>
      <tr>
        <th>9:00 AM</th>
        <td>
          Have some coffee and tea. Prepare laptops
        </td>
      </tr>
      <tr>
        <th>10:00 AM</th>
        <td>
          Introduction and icebreaker
        </td>
      </tr>
      <tr>
        <th>10:20 AM</th>
        <td>
          Introduction to Ruby and Rails
        </td>
      </tr>
      <tr>
        <th>11:00 AM</th>
        <td>
          Following the <a href="http://guides.railsgirls.com/app">building your app guide</a>
        </td>
      </tr>
      <tr>
        <th>12:30 PM</th>
        <td>
          Lunch time
        </td>
      </tr>
      <tr>
        <th>13:30 PM</th>
        <td>
          Continue <a href="http://guides.railsgirls.com/app">building your app</a>
        </td>
      </tr>
      <tr>
        <th>16:15 PM</th>
        <td>
          Wrap-up of the workshop
        </td>
      </tr>
      <tr>
        <th>17:00 PM</th>
        <td>
          End of the workshop
        </td>
      </tr>
    </tbody>
  </table>

  <p><em>The exact program may change before the workshop, but the start and end times are set.</em></p>
</section>

<section class="section" id="location">
  <h2>Location</h2>

  <p>
    <a href="https://www.betterup.com/"><strong>BetterUp</strong></a><br>
    Jozef Israëlskade 46<br>
    1072 SB, Amsterdam
  </p>

  <div class="map-placeholder js-map-placeholder">
    <div>
      <p>
        To show this Google Maps element you need to accept cookies,<br>
        or go directly to the <a href="https://maps.app.goo.gl/4Sf7jhWhCo1cYkBb8">Google Maps website</a>.
      </p>
      <button class="button js-cookie-accept">Accept cookies</button>
    </div>
  </div>
  <iframe
    src=""
    width="900"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="map js-map"
    data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2437.18853989432!2d4.889074576533909!3d52.3488656488859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6098b29680d63%3A0x9255886940b3cb5a!2sJozef%20Isra%C3%ABlskade%2046%2C%201072%20SB%20Amsterdam!5e0!3m2!1sen!2snl!4v1708588758783!5m2!1sen!2snl"
  ></iframe>
</section>

<section class="section" id="faq">
  <h2>Frequently Asked Questions</h2>

  <h3>Where can I sign up as a participant?</h3>
  <p>We're planning new workshops for the year. <%= link_to "Sign up on the waiting list", site.metadata.participant_sign_up_form_url %> if you want to be informed about new workshops.</p>

  <h3>How much does the workshop cost?</h3>
  <p>Nothing, it's free! You just need to be excited to learn!</p>

  <h3>Do I need a laptop?</h3>
  <p>Yes! Please bring a laptop with you to the workshop. Don't forget your charger! You can either prepare your laptop at home by <a href="https://guides.railsgirls.com/install">installing the necessary software</a>, or install it the morning of the workshop with the help of a coach.</p>

  <h3>Who can participate?</h3>
  <p>This workshop is aimed at women with a basic knowledge of working with a computer, who want to try out software development. People from other genders can apply, but women are given priority at this workshop. We welcome the LGBTQIA+ crowd.</p>
  <p>We've had people of all ages taking part. Most of the course and announcements are given in English and small group work is done in either Dutch or English.</p>

  <h3>How many people can attend?</h3>
  <p>The maximum number of participants varies per workshop. Sign up quick to secure your spot once a new workshop is announced!</p>

  <h3>What is this € 5 sign up fee?</h3>
  <p>To avoid no-shows or last minute cancellations, we require a small € 5 registration fee. If you attend the event, we will transfer back this sign up fee to your bank account. If you signed up and can no longer attend, please <a href="mailto:contact@railsgirls.nl">let us know</a> <em>before the 27th of May 2024</em> to receive back your sign up fee.</p>

  <h3>Are meals provided during the workshop?</h3>
  <p>Yes! We offer lunch and snacks during the workshop. Let us know your food limitations using the workshop's sign up form.</p>

  <h3>Are there vegetarian / vegan options for food?</h3>
  <p>We got you covered! Both a vegetarian and a vegan option will be made available.</p>

  <h3>Can I bring my children?</h3>
  <p>Yes! We have childcare services available for participants. This is for children maximum age five. We have a separate room and dedicated people to look after any children present. Please indicate if you will bring children on the sign up form. If you forgot to indicate this or need to update your answer, please <a href="mailto:contact@railsgirls.nl">email us</a>.</p>

  <h3>What happens once I've signed up?</h3>
  <p>Once we have enough sign ups and coaches, we will send out confirmations for everyone that can attend. A waiting list is available if we're fully booked, in case anyone cancels and a space opens up.</p>
  <p>Before the day of the workshop we will update you with news about the workshop and reminders about the workshop.</p>

  <h3>I can no longer make it to the workshop. What do I do?</h3>
  <p>Please let us know you can no longer make it by <a href="mailto:contact@railsgirls.nl">emailing us</a>. Please send the email from the address you signed up with or mention your name. We will give your spot to someone on the waiting list.</p>

  <h3>Do you have a Code of Conduct?</h3>
  <p>Yes! We follow the Contributor Covenant <a href="/code-of-conduct/">Code of Conduct</a>.</p>

  <h3>Can I help out?</h3>
  <p>Thank you! We are looking for coaches to help us at the day of the workshop. <%= link_to "Sign up as a coach", site.metadata.coach_sign_up_form_url %> using the linked form.</p>

  <h3>What is this workshop?</h3>
  <p>This workshop is a local edition of <a href="https://railsgirls.com">Rails Girls</a> events. An international group of volunteers organizing events in their local areas. <a href="https://rubynl.org">Ruby NL</a> has organized previous Rails Girls events, like the <a href="http://2023-may.railsgirls.nl">Rotterdam May 2023 edition</a>, <a href="http://2023-march.railsgirls.nl">Rotterdam March 2023 edition</a>, <a href="http://railsgirls.com/amsterdam2019.html">Amsterdam 2019 edition</a> and <a href="http://railsgirls.com/rotterdam-06-2019.html">Rotterdam 2019 edition</a>.</p>

  <h3>I have a different question</h3>
  <p>Ask us anything! Please send us your questions at <a href="mailto:contact@railsgirls.nl">contact@railsgirls.nl</a>, <a href="https://twitter.com/RailsGirls_NL">@RailsGirls_NL on Twitter</a> or using a Twitter DM.</p>
</section>

<section class="section" id="partners">
  <h2>Partners</h2>

  <p>Rails Girls The Netherlands is made possible by generous and wonderful partners. This workshop is hosted by the awesome people at <a href="https://www.betterup.com/">BetterUp</a>.</p>

  <div class="partner-logo-wrapper">
    <a href="https://www.betterup.com/" class="partner-logo">
      <img src="<%= image_path "images/logos/betterup.jpg" %>" alt="BetterUp">
    </a>
  </div>

  <p>TODO: partner text.</p>
</section>

<section class="section team-section" id="team">
  <h2>Organizers</h2>

  <ul>
    <li>
      <img src="<%= image_path "images/team/tom_de_bruijn.jpg" %>" alt="Tom de Bruijn">
      <span>Tom de Bruijn</span>
    </li>
    <li>
      <img src="<%= image_path "images/team/arno_fleming.jpg" %>" alt="Arno Fleming">
      <span>Arno Fleming</span>
    </li>
  </ul>
</section>

<section class="section team-section" id="coaches">
  <h2>Coaches</h2>

  <p>To be announced!</p>

  <ul class="coaches-list">
    <li>
      <div class="coach-placeholder"></div>
      <span class="large-text"><%= link_to "<strong>You?</strong>", site.metadata.coach_sign_up_form_url %></span>
    </li>
  </ul>

  <p class="text-center">Want to help out as a coach? <%= link_to "Sign up using the coach form!", site.metadata.coach_sign_up_form_url %></p>
</section>

<div class="hero-home"></div>
